{% extends "base.html" %} 

{% block title %}Recipes{% endblock %}

{% block content %} 
<h1 class="text-center p-2 d-block">
    Latest Recipes
</h1>
<div class="container d-flex flex-row flex-wrap justify-content-center">
    {% if recipes|length %}
        {% for recipe in recipes %} 
        <a href="{% url 'recipe_detail' recipe.id %}" class="recipes" aria-label="Click to view {{recipe.title}}">
            <div class="card m-3" style="width: 18rem;">
                <div class="card-body">
                <h2 class="card-title">{{recipe.title}}</h2>
                <p class="card-text">{{recipe.description|truncatechars:100}}</p>
                </div>
                <img src="{{recipe.image.url}}" class="card-img-bottom overflow-hidden" alt="{{recipe.image_alt}}">
            </div>
        </a>
        {% endfor %}
    {% else %}
    <div class="container">
        <h3 class="text-center mt-2">No recipes found</h3>
        <div class="d-flex justify-content-center pt-3">
            <a href="{% url 'recipes' %}" class="btn btn-outline-primary mb-3" role="button">Back to all recipes</a>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}